# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (opcional — só se você preferir gerar de novo em cada ambiente)
# **/migrations/
# !**/migrations/__init__.py

# Docker
*.pid
*.bak
*.swp