{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5><i class="fas fa-brain me-2"></i>Portal Mônada</h5>
                <p class="text-light">Dedicado à promoção da saúde mental e prevenção de comportamentos aditivos através de recursos confiáveis e apoio especializado.</p>
                <div class="d-flex gap-3">
                    <a href="#" class="fs-5"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="fs-5"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="fs-5"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="fs-5"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Recursos</h5>
                <ul class="list-unstyled">
                    <li><a href="library.html">Artigos</a></li>
                    <li><a href="videos.html">Vídeos</a></li>
                    <li><a href="substances.html">Substâncias</a></li>
                    <li><a href="glossary.html">Glossário</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Suporte</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contato</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="#">Ajuda</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Sobre</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Nossa Missão</a></li>
                    <li><a href="#">Equipe</a></li>
                    <li><a href="#">Parcerias</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">LGPD</a></li>
                </ul>
            </div>
        </div>

        <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">

        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2025 Portal Mônada. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">
                    <i class="fas fa-phone me-1"></i> 0800 123 4567 |
                    <i class="fas fa-envelope me-1 ms-2"></i> contato@monada.com.br
                </p>
            </div>
        </div>
    </div>
</footer>
